###Previous

#**24 June 2023**

In [ ]:
'''class'''
#blueprint of code
#constructor -> obj

'class'

In [ ]:
class www:
  name = 'dinesh'
  id = 23

In [ ]:
x = www()         # a variable assigned to a classs -> object

In [ ]:
x

In [ ]:
x.name , x.id

('dinesh', 23)

In [ ]:
print(x.name)
print(x.id)

dinesh
23

In [ ]:
dir(www)

In [ ]:
dir(str)

In [ ]:
a = "asdf"

In [ ]:
print(type(a))

<class 'str'>

In [ ]:
class emp:    #2
  def __init__(self,id,name,age):   #3 self = e1 , id = 1077754 , name = kaviarasan , age = 27
    self.ID = id  #4 e1.ID = 1077754
    self.Name = name #5 e1.Name = kaviarasan
    self.Age = age    #6 e1.Age = 27
  location = "salem" #7 e1.location = salem

In [ ]:
e1 = emp(107754,"Kaviarasan",27)      #1 creates obj e1 based on emp go to __init__ #8 success

In [ ]:
e1

In [ ]:
e1.ID, e1.Name, e1.Age, e1.location

(107754, 'Kaviarasan', 27, 'salem')

In [ ]:
class emp:
  def __init__(self,id,name,age):
    self.ID = id
    self.Name = name
    self.Age = age
  def show(aaa):    #2 aaa=e1
    print(aaa.ID,aaa.Name,aaa.Age,aaa)    #3 e1.ID,e1.Name,e1.Age
  location = "salem"

In [ ]:
e1 = emp(107754,"Kaviarasan",27)

In [ ]:
e1

In [ ]:
e1.show() #1 calls show()

107754 Kaviarasan 27 <__main__.emp object at 0x7b720666ca00>

In [ ]:
e2 = emp(1367728,"Nini",28)
e2

In [ ]:
e2.show()

1367728 Nini 28 <__main__.emp object at 0x7b72042a0550>

In [ ]:
e1.__init__(12345,"karvin",22)

In [ ]:
e1.show()

12345 karvin 22 <__main__.emp object at 0x7b720666ca00>

In [ ]:
class emp:
  def __init__(self,id,name,age):
    self.ID = id
    self.Name = name
    self.Age = age
  def show(aaa):    #2 aaa=e1
    print(aaa.ID,aaa.Name,aaa.Age,aaa)
  def modify(self,new_name):      #2 self=e1,new_name=nilan
    self.Name = new_name          #3 e1.Name= nilan

In [ ]:
e1 = emp(107754,"Kaviarasan",27)

In [ ]:
e1.show()

107754 Kaviarasan 27 <__main__.emp object at 0x7b72042a0e80>

In [ ]:
e1.modify("nilan")    #1 call

In [ ]:
e1.show()

107754 nilan 27 <__main__.emp object at 0x7b72042a0e80>

In [ ]:
class emp:
  def __init__(self,id,name,age):
    self.ID = id
    self.Name = name
    self.Age = age
  def show(aaa):
    print(aaa.ID,aaa.Name,aaa.Age,aaa)
  def modify(self,new_name):
    self.Name = new_name
class guvi(emp):
  pass

In [ ]:
e3 = guvi(2222,"ashok",54)

In [ ]:
e3.show()

2222 ashok 54 <__main__.guvi object at 0x7b720666e950>

In [ ]:
class emp:
  def __init__(self,id,name,age):
    self.ID = id
    self.Name = name
    self.Age = age
  def show(aaa):
    print(aaa.ID,aaa.Name,aaa.Age,aaa)
  def modify(self,new_name):
    self.Name = new_name
class guvi(emp):
  def show(self):
    print("G"+str(self.ID),self.Name,self.Age)

In [ ]:
e4 = guvi(123,"Naveen",30)

In [ ]:
e4.show()

G123 Naveen 30

In [ ]:
class emp:
  def __init__(self,id,name,age):
    self.ID = id
    self.Name = name
    self.Age = age
  def show(aaa):
    print(aaa.ID,aaa.Name,aaa.Age,aaa)
  def modify(self,new_name):
    self.Name = new_name
class tcs(emp):
  def addLocation(self,location):
    self.loc = location
  def show(self):
    print("name",self.Name,"\nid","T"+str(self.ID),"\nage",self.Age,"\nlocation",self.loc)

class hcl(emp):
  def addLocation(self,location):
    self.loc = location
  def show(self):
    print("name",self.Name,"\nid","H"+str(self.ID),"\nage",self.Age,)

In [ ]:
e5 = emp(111,"arun",34)
e5.show()

111 arun 34 <__main__.emp object at 0x7b72042a3d60>

In [ ]:
e6 = tcs(111,"arun",34)
e6.addLocation("chennai")
e6.show()

name arun
id T111
age 34
location chennai

In [ ]:
e7 = hcl(111,"arun",34)
e7.show()

name arun
id H111
age 34

#**25th june**

In [ ]:
class node:       #2 Enters
  def __init__(self,data):    #3 self=n1.headvalue, data = "nini"
    self.datavalue = data     #4 create property n1.headvalue.datavalue = "nini"
    self.nextvalue = None     #5 creats property n1.headvalue.nextvalue = None

class linked_list:
  def __init__(self):
    self.headvalue = None

In [ ]:
n1 = linked_list()

In [ ]:
n1,n1.headvalue

(<__main__.linked_list at 0x7a7d56efa020>, None)

In [ ]:
n1.headvalue = node("nini") # 1 modifies n1.headvalue as object based on the clase node   #6 step 1 to 5 seccess

In [ ]:
n1.headvalue, n1.headvalue.datavalue, n1.headvalue.nextvalue

(<__main__.node at 0x7a7d56efbaf0>, 'nini', None)

In [ ]:
n2 = node("kavi")
n3 = node("nilan")
n4 = node("kalai")
n5 = node("anjana")

In [ ]:
n1.headvalue.nextvalue = n2
n2.nextvalue = n3
n3.nextvalue = n4
n4.nextvalue = n5

In [ ]:
n1.headvalue.nextvalue, n1.headvalue.nextvalue.datavalue

(<__main__.node at 0x7a7d56efb3a0>, 'kavi')

In [ ]:
n1.headvalue.nextvalue.nextvalue.nextvalue, n4

(<__main__.node at 0x7a7d56efb6d0>, <__main__.node at 0x7a7d56efb6d0>)

In [ ]:
n1.headvalue.nextvalue.nextvalue.datavalue

'nilan'

In [ ]:
class node:
  def __init__(self,data):
    self.datavalue = data
    self.nextvalue = None

class linked_list:
  def __init__(self):
    self.headvalue = None
  def show(self):     #2 self = n1
    temp = self.headvalue       #3 creating temp variable, temp = n1.headvalue => object
    while temp is not None:     #4,  #7, #10, #13, #16, #19
      print(temp.datavalue)     #5,  #,8 #11, #14, #17
      temp = temp.nextvalue     #6,  #9, #12, #15, #18

#4 it checks temp is not none, temp value = not none( true) => enters
#5 prints the n1.headvalue.datavalue = "nini"
#6 modify temp = temp.nextvale => n1.headvalue.nextvalue => n2 =>object
#7 it checks temp is not none, temp value = not none( true) => enters
#8 prints the n1.headvalue.nextvalue.datavalue => "kavi"
#9 modify temp = temp.nextvale => n1.headvalue.nextvalue.nextvalue => n2.nextvalue =>n3 => object
#.
#.
#17 prints the n1.headvalue.nextvalue.nextvalue.nextvalue.nextvalue.datavalue => "anjana"
#18 modifies temp=temp.nextvalue => n1.headvalue.nextvalue.nextvalue.nextvalue.nextvalue.nextvalue => n2.nextvalue.nextvalue.nextvalue.nextvalue => n3.nextvalue.nextvalue.nextvalue => n4.nextvalue.nextvalue => n5.nextvalue = none (No object)
#19 it checks temp is not none, temp value = not none (false) => exits

n1 = linked_list()

n1.headvalue = node("nini")

n2 = node("kavi")
n3 = node("nilan")
n4 = node("kalai")
n5 = node("anjana")

n1.headvalue.nextvalue = n2
n2.nextvalue = n3
n3.nextvalue = n4
n4.nextvalue = n5

In [ ]:
n1.headvalue, n1.headvalue.datavalue, n1.headvalue.nextvalue

(<__main__.node at 0x7cb8e953b8e0>, 'nini', <__main__.node at 0x7cb8e953a290>)

In [ ]:
print(n5.nextvalue)

None

In [ ]:
n1.show()  #1 calls funtion show, #20 success

nini
kavi
nilan
kalai
anjana

In [ ]:
class node:   # 4 enters
  def __init__(self,data):  #5 self = tempnode, data => newdata => "sumathi"
    self.datavalue = data     #6 create new data property => tempnode.datavalue => "sumathi"
    self.nextvalue = None    #7 creats the next node value => tempnode.nextvalue => None

class linked_list:
  def __init__(self):
    self.headvalue = None

  def insert_between(self,middlenode,newdata):    #2 self = n1, misslenode = n3, newdata = sumathi
    tempnode = node(newdata)      #3  creates object called tempnode based on class node,   #8 #step 3 to 7 success
    tempnode.nextvalue = middlenode.nextvalue   #9 tempnode.nextvalue => n3.nextvalue => n4
    middlenode.nextvalue = tempnode #10  n3.nextvalue = tempnode => newly created node

  def show(self):
    temp = self.headvalue
    while temp is not None:
      print(temp.datavalue)
      temp = temp.nextvalue


n1 = linked_list()

n1.headvalue = node("nini")

n2 = node("kavi")
n3 = node("nilan")
n4 = node("kalai")
n5 = node("anjana")

n1.headvalue.nextvalue = n2
n2.nextvalue = n3
n3.nextvalue = n4
n4.nextvalue = n5

In [ ]:
print("************************************************Before insert***************")
n1.show()
print("************************************************After Insert*************************")
n1.insert_between(n3,"sumathi")  #1 calling insert_between funtion #11 success
n1.show()

************************************************Before insert***************
nini
kavi
nilan
kalai
anjana
************************************************After Insert*************************
nini
kavi
nilan
sumathi
kalai
anjana

In [ ]:
class node: #4 enters
  def __init__(self,data): #5 self = tempnode1 (newnode), data = newdata => "Saravanan"
    self.datavalue=data #6 creates the new data property  = tempnote1.datavalue = "Saravanan"
    self.nextvalue=None #7 creates the next nodevalue = tempnode1.nextvalue = None

class linked_list:
  def __init__(self):
    self.headvalue=None

  def insert_between(self,middlenode, newdata):
    tempnode=node(newdata)
    tempnode.nextvalue=middlenode.nextvalue
    middlenode.nextvalue=tempnode

  def insert_beginning(self,newdata): #2 self = n1, newdata = "Saravanan"
    tempnode1=node(newdata) #3 create a object tempnode1 based on the class node, #8 successfully completed the step #3 - #7
    tempnode1.nextvalue=self.headvalue #9 tempnode1.nextvalue = n1.headvalue
    self.headvalue=tempnode1 #10 replaces the head

  def show(self):
    temp=self.headvalue
    while temp is not None:
      print(temp.datavalue)
      temp=temp.nextvalue


n1=linked_list()
n1.headvalue=node("aadhi")
n2=node("Mohan")
n3=node("Sabri")
n4=node("kalai")
n5=node("ashok")
n1.headvalue.nextvalue=n2
n2.nextvalue=n3
n3.nextvalue=n4
n4.nextvalue=n5

In [ ]:
print("********************************Before Insert*******************************")
n1.show()
print("********************************After Insert*******************************")
n1.insert_between(n3,"Mathi")
n1.show()
print("*****************************After Insert beginning***********************")
n1.insert_beginning("Saravanan") #1 calls insert_beginning method/function, #11 successfully completed all the steps till #10
n1.show()

********************************Before Insert*******************************
aadhi
Mohan
Sabri
kalai
ashok
********************************After Insert*******************************
aadhi
Mohan
Sabri
Mathi
kalai
ashok
*****************************After Insert beginning***********************
Saravanan
aadhi
Mohan
Sabri
Mathi
kalai
ashok

# **1st July**

In [ ]:
class node:
  def __init__(self,data):
    self.datavalue=data
    self.nextvalue=None
class linked_list:
  def __init__(self):
    self.headvalue=None

  def insert_between(self,middlenode, newdata):
    tempnode=node(newdata)
    tempnode.nextvalue=middlenode.nextvalue
    middlenode.nextvalue=tempnode

  def insert_beginning(self,newdata):
    tempnode1=node(newdata)
    tempnode1.nextvalue=self.headvalue
    self.headvalue=tempnode1

  def show(self):
    temp=self.headvalue
    while temp is not None:
      print(temp.datavalue)
      temp=temp.nextvalue

  def remove(self,remove_data):
    temp = self.headvalue
    while temp is not None:
      if temp.datavalue == remove_data:
        break
      previousnode = temp
      temp= temp.nextvalue
    if temp == None:
      print("No such Data")
      return
    previousnode.nextvalue = temp.nextvalue




n1=linked_list()
n1.headvalue=node("aadhi")
n2=node("Mohan")
n3=node("Sabri")
n4=node("kalai")
n5=node("ashok")
n1.headvalue.nextvalue=n2
n2.nextvalue=n3
n3.nextvalue=n4
n4.nextvalue=n5

In [ ]:
print("********************************Before Insert*******************************")
n1.show()
print("********************************After Insert*******************************")
n1.insert_between(n3,"Mathi")
n1.show()
print("*****************************After Insert beginning***********************")
n1.insert_beginning("Saravanan")
n1.show()
print("********************************After Remove*******************************")
n1.remove("Guru")
n1.show()
print("********************************After Remove*******************************")
n1.remove("ashok")
n1.show()
#print("********************************After Remove*******************************")
#n1.remove("Saravanan")
#n1.show()

********************************Before Insert*******************************
aadhi
Mohan
Sabri
kalai
ashok
********************************After Insert*******************************
aadhi
Mohan
Sabri
Mathi
kalai
ashok
*****************************After Insert beginning***********************
Saravanan
aadhi
Mohan
Sabri
Mathi
kalai
ashok
********************************After Remove*******************************
No such Data
Saravanan
aadhi
Mohan
Sabri
Mathi
kalai
ashok
********************************After Remove*******************************

In [ ]:
class node:
  def __init__(self,data):
    self.datavalue=data
    self.nextvalue=None
class linked_list:
  def __init__(self):
    self.headvalue=None

  def insert_between(self,middlenode, newdata):
    tempnode=node(newdata)
    tempnode.nextvalue=middlenode.nextvalue
    middlenode.nextvalue=tempnode

  def insert_beginning(self,newdata):
    tempnode1=node(newdata)
    tempnode1.nextvalue=self.headvalue
    self.headvalue=tempnode1

  def show(self):
    temp=self.headvalue
    while temp is not None:
      print(temp.datavalue)
      temp=temp.nextvalue

  def remove(self,remove_data):
    temp = self.headvalue
    while temp is not None:
      if temp.datavalue == remove_data:
        break
      previousnode = temp
      temp= temp.nextvalue
    if temp == None:
      print("No such Data")
      return

    if temp == self.headvalue:
      self.headvalue = temp.nextvalue
    else:
      previousnode.nextvalue = temp.nextvalue





n1=linked_list()
n1.headvalue=node("aadhi")
n2=node("Mohan")
n3=node("Sabri")
n4=node("kalai")
n5=node("ashok")
n1.headvalue.nextvalue=n2
n2.nextvalue=n3
n3.nextvalue=n4
n4.nextvalue=n5

In [ ]:
print("********************************Before Insert*******************************")
n1.show()
print("********************************After Insert*******************************")
n1.insert_between(n3,"Mathi")
n1.show()
print("*****************************After Insert beginning***********************")
n1.insert_beginning("Saravanan")
n1.show()
print("********************************After Remove*******************************")
n1.remove("Guru")
n1.show()
print("********************************After Remove*******************************")
n1.remove("ashok")
n1.show()
print("********************************After Remove*******************************")
n1.remove("Saravanan")
n1.show()

********************************Before Insert*******************************
aadhi
Mohan
Sabri
kalai
ashok
********************************After Insert*******************************
aadhi
Mohan
Sabri
Mathi
kalai
ashok
*****************************After Insert beginning***********************
Saravanan
aadhi
Mohan
Sabri
Mathi
kalai
ashok
********************************After Remove*******************************
No such Data
Saravanan
aadhi
Mohan
Sabri
Mathi
kalai
ashok
********************************After Remove*******************************
Saravanan
aadhi
Mohan
Sabri
Mathi
kalai
********************************After Remove*******************************
aadhi
Mohan
Sabri
Mathi
kalai

In [ ]:
#tree Data structure

In [ ]:
class node():
  def __init__(self,data):
    self.left=None
    self.right=None
    self.main=data

  def show(self):
    if self.left:
      self.left.show()
    print(self.main)

    if self.right:
      self.right.show()

  def insert(self,newdata):
    if self.main:
      if newdata<self.main:
        if self.left is None:
          self.left=node(newdata)
        else:
          self.left.insert(newdata)
      elif newdata>self.main:
        if self.right is None:
          self.right=node(newdata)
        else:
          self.right.insert(newdata)
    else:
      self.main=newdata

In [ ]:
mohan=node(27)
mohan.insert(21)
mohan.insert(7)
mohan.insert(41)
mohan.insert(55)
mohan.insert(200000)
mohan.insert(-100)
mohan.insert(-1)
mohan.insert(-1)
mohan.insert(30000)
mohan.insert(12571)
mohan.insert(98748)
mohan.insert(1253.71)
mohan.insert(-87582.254)
mohan.show()

-87582.254
-100
-1
7
21
27
41
55
1253.71
12571
30000
98748
200000

# **2nd July**

In [ ]:
#scope
# Library class ---> Books availability  |  Book issue/lending  | add a book
#customer class --->                     |  requesting book     | return the lended  book

In [ ]:
class library:
  def __init__(self,data):
    self.booklist = data


  def show(self):
    print(self.booklist)

  def lendbook(self,bookname):
    if bookname in self.booklist:
      self.booklist.remove(bookname)
      print("thankyou book issued :",bookname)
      return True
    else:
      print("requested book is not available")
      return False

  def add_book(self,addbook):
    self.booklist.append(addbook)


class customer:
  def request_book(self):
    print("Enter the book :")
    self.book = input()
    return self.book

  def add_book(self,bookname1):
    self.booklist1.append(bookname1)

  def return_book(self):
    print("Enter the book name you want to return:")
    self.book = input()
    return self.book

  def remove_book(self,re_bookname):
    if re_bookname in self.booklist1:
      self.booklist1.remove(re_bookname)
      print("Thank you for returing book : ", re_bookname)
      return True
    else:
      print("No such book with you")
      return False


  def show(self):
    print(self.booklist1)


  def __init__(self):
    self.booklist1 = []

In [ ]:
lib_salem = library(["b1","b2","b3","b4","b5","b3"])
cust_suresh = customer()

In [ ]:
lib_salem.booklist

['b1', 'b2', 'b3', 'b4', 'b5', 'b3']

In [ ]:

while True:
  print("select the option below:")
  print("1 - show the list of books", "\n2 - lend a book", "\n3 - return a book", "\n4 - exit\n5 - customer lended books" )
  option = int(input())
  if option == 1:
    lib_salem.show()
  elif option == 2:
    requested_book = cust_suresh.request_book()
    status = lib_salem.lendbook(requested_book)
    if status == True:
      cust_suresh.add_book(requested_book)
  elif option == 3:
    returned_book = cust_suresh.return_book()
    status = cust_suresh.remove_book(returned_book)
    if status == True:
      lib_salem.add_book(returned_book)
  elif option == 4:
      break
  elif option == 5:
      cust_suresh.show()

In [ ]:
#Scop

#Restarent --->


#hotel     -- > Menu and prise  | repeat order              |                     |Bill issue
#Customer  -- > chouse menu     | responce for repeat oeder |                    | Requested for bill |

In [ ]:
class hotel:
  def __init__(self,data):
    self.menu = data

  def prepare_order(self,items):
    if items in self.menu:
      print("your order has been taken : ", items)
      print("have your order")
      return True
    else:
      print("we dont have such item in our menu")
      return False

  def preparing_bill(self,value):
    amt = value*10
    print("your bill ammount is : ", amt)
    print("thank you for visit")

  def show(self):
    print(self.menu)


class customer:

  def order_item(self):
    print("Enter the item details : ")
    self.item = input()
    return self.item

  def add_order(self,order_1):
    self.orderlist_1.append(order_1)

  def proceed_bill(self):
    print("your bill is in process please wait")
    b1 = len(self.orderlist_1)
    return b1

  def __init__(self):
    self.orderlist_1 = []

In [ ]:
ab = hotel({"Tea" : 10, "Coffee":10, "Milk":10, "Idly":10, "Dosa":10})
cust_kavi = customer()

In [ ]:
while True:
  print("Welcome to AB hotel,")
  print("1 - As for menu","\n2 - To Order","\n3 - To Repeat Order ","\n4 - To proceed billing","\n5 - exit")
  option = int(input())
  if option == 1:
    ab.show()
  elif option == 2:
    ordered_item = cust_kavi.order_item()
    status = ab.prepare_order(ordered_item)
    if status is True:
      cust_kavi.add_order(ordered_item)
  elif option == 3:
    ordered_item = cust_kavi.order_item()
    status = ab.prepare_order(ordered_item)
    if status is True:
      cust_kavi.add_order(ordered_item)
  elif option == 4:
    bill = cust_kavi.proceed_bill()
    amt = ab.preparing_bill(bill)
    break
  elif option == 5:
    break

In [ ]:
class hotel:
  def __init__(self,data):
    self.menu = data

  def prepare_order(self,items,co):
    if items in self.menu:
      current_value = self.menu[items]
      reduce_value = current_value - co
      self.menu[items] = reduce_value
      if self.menu[items] >=0:
        print("\n\nyour order has been taken : ", items)
        print("\n\nhave your order")
        return True

      else:
        print("\n\nsorry out of stock")
        return False
    else:
      print("no such item")





  def preparing_bill(self,value):
    amt = value*10
    print("\n\nyour bill ammount is : ", amt)
    print("\n\nthank you for visit")

  def show(self):
    for key, value in self.menu.items():
      print(key, value)



class customer:

  def order_item(self):
    print("\n\nEnter the item details : ")
    self.item = input()
    return self.item

  def count_item(self):
    print("\n\nplease provide how many : ")
    self.co_item = int(input())
    return self.co_item

  def add_order(self,order_1,co):
    self.orderlist_1.update({order_1:co})

  def proceed_bill(self):
    print("\n\nyour bill is in process please wait")
    b1 = self.orderlist_1.values()
    b2= sum(b1)
    return b2

  def __init__(self):
    self.orderlist_1 = {}

In [ ]:
ab = hotel({"tea" : 10, "coffee":10, "milk":10, "idly":10, "dosa":10})
cust_kavi = customer()

In [ ]:
while True:
  print("\n\nWelcome to AB hotel\n\n")
  print("1 - As for menu","\n2 - To Order","\n3 - To Repeat Order ","\n4 - To proceed billing","\n5 - exit")
  option = int(input())
  if option == 1:
    ab.show()
  elif option == 2:
    ordered_item = cust_kavi.order_item()
    counted_item = cust_kavi.count_item()
    status = ab.prepare_order(ordered_item, counted_item)
    if status is True:
      cust_kavi.add_order(ordered_item, counted_item)
  elif option == 3:
    ordered_item = cust_kavi.order_item()
    counted_item = cust_kavi.count_item()
    status = ab.prepare_order(ordered_item, counted_item)
    if status is True:
      cust_kavi.add_order(ordered_item, counted_item)
  elif option == 4:
    bill = cust_kavi.proceed_bill()
    amt = ab.preparing_bill(bill)
    break
  elif option == 5:
    break

#**8th july**

In [ ]:
x =[]
x.append(23)
x.pop()

23

In [ ]:
class test():

  def __init__(self,data):
    self.all_data = data

  def add_test(self,add_data):
    self.all_data.append(add_data)
    print("given number is added")

  def remove_test(self):
    self.all_data.pop()

  def show(self):
    print(self.all_data[::-1])

In [ ]:
x = test([1,2,3,4,5])

In [ ]:
x.all_data

In [ ]:
x.show()

In [ ]:
while True:
  print("Select the option below")
  print("1 - show the list \n2 - add in list \n3 - remove in list \n4 - exit")
  option=int(input())
  if option == 1:
    x.show()
  elif option == 2:
    print("Enter the number need to add: ")
    new_number = int(input())
    x.add_test(new_number)
  elif option ==3:
    x.remove_test()
  elif option == 4:
    break

In [ ]:
23, 92, 112, 62, 55, 444, 93, 1, 225, 9, 7
1, 7, 93, 62, 9, 444, 112, 92, 225, 23, 55

In [ ]:
import heapq

In [ ]:
data = [23, 92, 112, 62, 55, 444, 93, 1, 225, 9, 7]

In [ ]:
heapq.heapify(data)

In [ ]:
data

[1, 7, 93, 62, 9, 444, 112, 92, 225, 23, 55]

In [ ]:
heapq.heappush(data,-5)

In [ ]:
data

[-5, 7, 1, 62, 9, 93, 112, 92, 225, 23, 55, 444]

In [ ]:
heapq.heappop(data)

-5

In [ ]:
data

[1, 7, 93, 62, 9, 444, 112, 92, 225, 23, 55]

In [ ]:
heapq.heapreplace(data,100) #smallest element replaced with given number 100 then rearrange

1

In [ ]:
data

[7, 9, 93, 62, 23, 444, 112, 92, 225, 100, 55]

In [ ]:
dir(heapq)

In [ ]:
#file Handling

#create file via python , read, write(overwrite), (appending)

In [ ]:
#mode x

In [ ]:
mohan= open("test.txt","x")

In [ ]:
# mode w

In [ ]:
mohan = open("text1.txt","w") #over wright , if dosent exit will create it
mohan.write("jkgzhk zmhgnzgk zkgi")
mohan.close()

In [ ]:
mohan = open("text1.txt","w") #over wright , if dosent exit will create it
mohan.write("hi \n i am ")
mohan.close()

In [ ]:
a = "kaviarasagkj nfsgn"

In [ ]:
mohan=open("test.txt","w")
for i in range(10):
  print("Enter the Name of the Person")
  name = input()
  if i < 1:
    mohan.write(name)
  else:
    mohan.write("\n"+name)
mohan.close()

Enter the Name of the Person
a
Enter the Name of the Person
d
Enter the Name of the Person
g
Enter the Name of the Person
h
Enter the Name of the Person
j
Enter the Name of the Person
k
Enter the Name of the Person

Enter the Name of the Person
z
Enter the Name of the Person
x
Enter the Name of the Person
v

# **9th July**

In [ ]:
kavi = open("test.txt","w")
kavi.write("hi i am kavi , i am coming ")
kavi.close()

In [ ]:
kavi = open("test.txt","r")
print(kavi.read())
kavi.close()

**Modules**

In [ ]:
#Modules

In [ ]:
''' we can use a python file from some other python file , which is acting as a library.'''

' we can use a python file from some other python file , which is acting as a library.'

In [ ]:
kavi=open("test1.py","w")
kavi.write("def guru(mentor):\n")
kavi.write("\tprint('mentor name is:',mentor)")

kavi.close()

In [ ]:
import test1

In [ ]:
test1.guru("adithan")

mentor name is: adithan

In [ ]:
#H/W

'''write py file with tree
use that in diffrent file '''

'write py file with tree \nuse that in diffrent file '

**picking - serialing and de-serialising the data**

In [ ]:
import pickle

In [ ]:
data = ['a',1,2,3,4,'z']

In [ ]:
file = open("nini.jpg","wb")
pickle.dump(data,file)
file.close()

In [ ]:
f = open("nini.jpg","rb")
print(pickle.load(f))
f.close()

['a', 1, 2, 3, 4, 'z']

In [ ]:
class kavi:
  def __init__(self,id,name,salary):
    self.ID = id
    self.Name = name
    self.Salary = salary

  def display(self):
    print(self.ID,self.Name,self.Salary)

In [ ]:
e1 = kavi(1,'kaviarasan',60000)

In [ ]:
e1

In [ ]:
e1.display()

1 kaviarasan 60000

In [ ]:
f1 = open("GUVI.dat","wb")
pickle.dump(e1,f1)
f1.close()

In [ ]:
UP = open("GUVI.dat","rb")
f3 = pickle.load(UP)
UP.close()

In [ ]:
f3

In [ ]:
f3.display()

1 kaviarasan 60000

In [ ]:
p1 = open("zen.dat","wb")
n = int(input("Enter NO of emp:"))
for i in range(n):
  id1 = int(input("enter ID: "))
  name1 = input("enter the emp name : ")
  salary1 = int(input("enter the salary: "))
  emp1=kavi(id1,name1,salary1)
  pickle.dump(emp1,p1)
p1.close()

Enter NO of emp:2
enter ID: 5
enter the emp name : ks
enter the salary: 22
enter ID: 9
enter the emp name : nn
enter the salary: 99

# **30th july**

In [ ]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.4.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (603 kB)
      603.6/603.6 kB 5.8 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
      300.4/300.4 kB 7.6 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.2 pymongo-4.4.1

In [ ]:
import pymongo

In [ ]:
kavi = pymongo.MongoClient("mongodb+srv://kavi:kaviarasan@kaviarasan.obhf2rg.mongodb.net/?retryWrites=true&w=majority")

In [ ]:
#kavi ==> object given to MDB conectivity

In [ ]:
nosqldb=kavi["sabari"]

In [ ]:
#nosqldb ==> object given while creating DB

In [ ]:
coll=nosqldb["movies"]

In [ ]:
#coll => object given while creting collections in sabari DB ie (nosqldb)

In [ ]:
x = {"Name":"vikram","year":2023}

In [ ]:
coll.insert_one(x)

In [ ]:
y = [{"Name":"Mamannan","year":2022},{"Name":"Master","year":2021}]

In [ ]:
coll.insert_many(y)

In [ ]:
import json

In [ ]:
f = open("/content/sample_data/anscombe.json")  #refer the reading of the file

In [ ]:
data = json.load(f)

In [ ]:
data

In [ ]:
coll.insert_many(data)

In [ ]:
'''Tast - download json file
understand
new collection
add in that '''

'Tast - download json file \nunderstand\nnew collection\nadd in that '

In [ ]:
import pandas as pd

In [ ]:
housing = pd.read_csv("/content/sample_data/california_housing_test.csv")
housing

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
housing_dic = housing.to_dict("records")  #converting data frame to dict

In [ ]:
housing_dic

In [ ]:
coll2=nosqldb["housing"]

In [ ]:
coll2.insert_many(housing_dic)

In [ ]:
coll2=nosqldb["dfconverts1"]

In [ ]:
for i in housing_dic:
  coll2.insert_one(i)

In [ ]:
pip install quandl

Collecting quandl
  Downloading Quandl-3.7.0-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.10/dist-packages (from quandl) (1.5.3)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.10/dist-packages (from quandl) (1.22.4)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.10/dist-packages (from quandl) (2.27.1)
Collecting inflection>=0.3.1 (from quandl)
  Downloading inflection-0.5.1-py2.py3-none-any.whl (9.5 kB)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from quandl) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from quandl) (1.16.0)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.10/dist-packages (from quandl) (9.1.0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.14->quandl) (2022.7.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.7.0->quandl) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.7.0->quandl) (2023.7.22)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.7.0->quandl) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.7.0->quandl) (3.4)
Installing collected packages: inflection, quandl
Successfully installed inflection-0.5.1 quandl-3.7.0

In [ ]:
import quandl

In [ ]:
#Run this Cell only once
data = quandl.get("BSE/SENSEX",start_date="2023-01-01") #date inset of data

In [ ]:
data

                Open      High       Low     Close
Date
1979-04-03       NaN       NaN       NaN    124.15
1979-04-04       NaN       NaN       NaN    122.85
1979-04-06       NaN       NaN       NaN    123.52
1979-04-07       NaN       NaN       NaN    124.18
1979-04-09       NaN       NaN       NaN    124.30
...              ...       ...       ...       ...
2023-07-17  66148.18  66656.21  66015.63  66589.93
2023-07-18  66828.96  67007.02  66574.47  66795.14
2023-07-19  66905.01  67171.38  66703.61  67097.44
2023-07-20  67074.34  67619.17  66831.38  67571.90
2023-07-21  66907.07  67190.52  66533.74  66684.26

[10269 rows x 4 columns]

# **5th Aug Diffrent mentor**

In [ ]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.4.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (603 kB)
      603.6/603.6 kB 5.4 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
      300.4/300.4 kB 7.7 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.2 pymongo-4.4.1

In [ ]:
from pymongo import MongoClient

In [ ]:
client=MongoClient("mongodb+srv://kavi:kaviarasan@kaviarasan.obhf2rg.mongodb.net/")

In [ ]:
client.list_database_names()

['cricket',
 'kavi',
 'sabari',
 'sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_guides',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'admin',
 'local']

In [ ]:
new = client["cricket"]

In [ ]:
new_coll = new["IPL"]

In [ ]:
player = {"name":"MS Dhoni","Age":40,"Matches":400,"Battingstyle":"Right Handed","Height":5.11}

In [ ]:
new_coll.insert_one(player)

In [ ]:
player = {"name":"MS Dhoni","Age":40,"Matches":400,"Battingstyle":"Right Handed","Height":5.11,"ID":7}

In [ ]:
pd = {"ID":7,"Hometown":"Ranchi","DOB":"07-07-1981",}

In [ ]:
new_coll.insert_one(pd)

In [ ]:
db = client["sample_restaurants"]

In [ ]:
coll = db.restaurants

In [ ]:
coll.find_one()

{'_id': ObjectId('5eb3d668b31de5d588f4292a'),
 'address': {'building': '2780',
  'coord': [-73.98241999999999, 40.579505],
  'street': 'Stillwell Avenue',
  'zipcode': '11224'},
 'borough': 'Brooklyn',
 'cuisine': 'American',
 'grades': [{'date': datetime.datetime(2014, 6, 10, 0, 0),
   'grade': 'A',
   'score': 5},
  {'date': datetime.datetime(2013, 6, 5, 0, 0), 'grade': 'A', 'score': 7},
  {'date': datetime.datetime(2012, 4, 13, 0, 0), 'grade': 'A', 'score': 12},
  {'date': datetime.datetime(2011, 10, 12, 0, 0), 'grade': 'A', 'score': 12}],
 'name': 'Riviera Caterer',
 'restaurant_id': '40356018'}

In [ ]:
a = coll.find()

In [ ]:
b = []
for i in a:
  b.append(i)

In [ ]:
b[0]

{'_id': ObjectId('5eb3d668b31de5d588f4292a'),
 'address': {'building': '2780',
  'coord': [-73.98241999999999, 40.579505],
  'street': 'Stillwell Avenue',
  'zipcode': '11224'},
 'borough': 'Brooklyn',
 'cuisine': 'American',
 'grades': [{'date': datetime.datetime(2014, 6, 10, 0, 0),
   'grade': 'A',
   'score': 5},
  {'date': datetime.datetime(2013, 6, 5, 0, 0), 'grade': 'A', 'score': 7},
  {'date': datetime.datetime(2012, 4, 13, 0, 0), 'grade': 'A', 'score': 12},
  {'date': datetime.datetime(2011, 10, 12, 0, 0), 'grade': 'A', 'score': 12}],
 'name': 'Riviera Caterer',
 'restaurant_id': '40356018'}

In [ ]:
b[0]["grades"]

[{'date': datetime.datetime(2014, 6, 10, 0, 0), 'grade': 'A', 'score': 5},
 {'date': datetime.datetime(2013, 6, 5, 0, 0), 'grade': 'A', 'score': 7},
 {'date': datetime.datetime(2012, 4, 13, 0, 0), 'grade': 'A', 'score': 12},
 {'date': datetime.datetime(2011, 10, 12, 0, 0), 'grade': 'A', 'score': 12}]

In [ ]:
b[0]["grades"][2]

{'date': datetime.datetime(2012, 4, 13, 0, 0), 'grade': 'A', 'score': 12}

In [ ]:
b[0]["grades"][2]["score"]

12

In [ ]:
db = client["sample_airbnb"]

In [ ]:
coll = db["listingAndReviews"]

In [ ]:
coll.find_one()

# **6th Aug**

In [ ]:
pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.10/dist-packages (4.4.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo) (2.4.2)

In [ ]:
import pymongo

In [ ]:
client=MongoClient("mongodb+srv://kavi:kaviarasan@kaviarasan.obhf2rg.mongodb.net/")

In [ ]:
database = client["india"]

In [ ]:
coll = database["chennai"]

In [ ]:
import requests

In [ ]:
satilite = requests.get("http://api.open-notify.org/iss-now.json")
x = satilite.text

In [ ]:
x

'{"message": "success", "iss_position": {"longitude": "-170.7998", "latitude": "-15.7164"}, "timestamp": 1691735947}'

In [ ]:
type(x)

str

In [ ]:
import json

In [ ]:
y = json.loads(x)

In [ ]:
y

{'message': 'success',
 'iss_position': {'longitude': '-170.7998', 'latitude': '-15.7164'},
 'timestamp': 1691735947}

In [ ]:
type(y)

dict

In [ ]:
coll.insert_one(y)

In [ ]:
import time

In [ ]:
import time
import json
for i in range(10):
  time.sleep(3)
  satilite = requests.get("http://api.open-notify.org/iss-now.json")
  x = satilite.text
  y = json.loads(x)
  coll.insert_one(y)

In [ ]:
for i in coll.find():
  print(i)

{'_id': ObjectId('64d5d80c91119d0b1fca9a7f'), 'message': 'success', 'iss_position': {'longitude': '-170.7998', 'latitude': '-15.7164'}, 'timestamp': 1691735947}
{'_id': ObjectId('64d5d8db91119d0b1fca9a80'), 'message': 'success', 'iss_position': {'longitude': '-155.9429', 'latitude': '-31.5999'}, 'timestamp': 1691736283}
{'_id': ObjectId('64d5d8df91119d0b1fca9a81'), 'message': 'success', 'iss_position': {'longitude': '-155.7638', 'latitude': '-31.7547'}, 'timestamp': 1691736287}
{'_id': ObjectId('64d5d8e291119d0b1fca9a82'), 'message': 'success', 'iss_position': {'longitude': '-155.5840', 'latitude': '-31.9091'}, 'timestamp': 1691736290}
{'_id': ObjectId('64d5d8e691119d0b1fca9a83'), 'message': 'success', 'iss_position': {'longitude': '-155.4294', 'latitude': '-32.0413'}, 'timestamp': 1691736293}
{'_id': ObjectId('64d5d8e991119d0b1fca9a84'), 'message': 'success', 'iss_position': {'longitude': '-155.2484', 'latitude': '-32.1952'}, 'timestamp': 1691736297}
{'_id': ObjectId('64d5d8ed91119d0b1fca9a85'), 'message': 'success', 'iss_position': {'longitude': '-155.0667', 'latitude': '-32.3488'}, 'timestamp': 1691736300}
{'_id': ObjectId('64d5d8f091119d0b1fca9a86'), 'message': 'success', 'iss_position': {'longitude': '-154.8843', 'latitude': '-32.5021'}, 'timestamp': 1691736304}
{'_id': ObjectId('64d5d8f391119d0b1fca9a87'), 'message': 'success', 'iss_position': {'longitude': '-154.7013', 'latitude': '-32.6551'}, 'timestamp': 1691736307}
{'_id': ObjectId('64d5d8f791119d0b1fca9a88'), 'message': 'success', 'iss_position': {'longitude': '-154.5176', 'latitude': '-32.8078'}, 'timestamp': 1691736311}
{'_id': ObjectId('64d5d8fa91119d0b1fca9a89'), 'message': 'success', 'iss_position': {'longitude': '-154.3596', 'latitude': '-32.9385'}, 'timestamp': 1691736314}

In [ ]:
for i in coll.find({},{"_id":0}):
  print(i)

{'message': 'success', 'iss_position': {'longitude': '-170.7998', 'latitude': '-15.7164'}, 'timestamp': 1691735947}
{'message': 'success', 'iss_position': {'longitude': '-155.9429', 'latitude': '-31.5999'}, 'timestamp': 1691736283}
{'message': 'success', 'iss_position': {'longitude': '-155.7638', 'latitude': '-31.7547'}, 'timestamp': 1691736287}
{'message': 'success', 'iss_position': {'longitude': '-155.5840', 'latitude': '-31.9091'}, 'timestamp': 1691736290}
{'message': 'success', 'iss_position': {'longitude': '-155.4294', 'latitude': '-32.0413'}, 'timestamp': 1691736293}
{'message': 'success', 'iss_position': {'longitude': '-155.2484', 'latitude': '-32.1952'}, 'timestamp': 1691736297}
{'message': 'success', 'iss_position': {'longitude': '-155.0667', 'latitude': '-32.3488'}, 'timestamp': 1691736300}
{'message': 'success', 'iss_position': {'longitude': '-154.8843', 'latitude': '-32.5021'}, 'timestamp': 1691736304}
{'message': 'success', 'iss_position': {'longitude': '-154.7013', 'latitude': '-32.6551'}, 'timestamp': 1691736307}
{'message': 'success', 'iss_position': {'longitude': '-154.5176', 'latitude': '-32.8078'}, 'timestamp': 1691736311}
{'message': 'success', 'iss_position': {'longitude': '-154.3596', 'latitude': '-32.9385'}, 'timestamp': 1691736314}

In [ ]:
db= client["sample_mflix"]
coll = db["movies"]
for i in coll.find({"year":{"$lte":1920}},{"_id":0,"title":1,"year":1}):
  print(i)

In [ ]:
mov = []
for i in coll.find({"year":{"$lte":1920}},{"_id":0,"title":1,"year":1}):
  mov.append(i)

In [ ]:
mov

In [ ]:
len(mov)

22

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(mov)

In [ ]:
df

In [ ]:
df.to_csv("movie_mongo.csv")

In [ ]:
x =[]
for i in coll.find({"$or":[{"year":{"$gte":1970,"$lte":1975}},{"year":{"$in":[1981,1984,1991,1993]}}]},{"_id":0,"title":1,"year":1}):
  x.append(i)
df = pd.DataFrame(x)
df.to_csv("test.csv")

In [ ]:
df

In [ ]:
mov = []
for i in coll.find({"year":{"$lte":1920}}):
  mov.append(i)

In [ ]:
mov[0]

In [ ]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.4.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (603 kB)
      603.6/603.6 kB 10.4 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
      300.4/300.4 kB 36.1 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.2 pymongo-4.4.1

In [ ]:
import pymongo
import pandas as pd

client=pymongo.MongoClient("mongodb+srv://kavi:kaviarasan@kaviarasan.obhf2rg.mongodb.net/")
database = client["sample_mflix"]
coll = database["movies"]

task = []
for i in coll.find({"$and":[{"genres":{"$in":["comedy","Horror","Action","Thriller"]}},{"imdb.rating":{"$gte":7.0,"$lte":9.3}},{"tomatoes.viewer.rating":{"$gt":3.0,"$lt":4.8}},{"awards.wins":{"$gte":1}},{"$or":[{"year":{"$gte":1960,"$lte":1969}},{"year":{"$gte":1981,"$lte":1984}},{"year":{"$gte":1993,"$lte":2000}}]}]},{"_id":0,"year":1,"title":1,"imdb.rating":1,"tomatoes.viewer.rating":1}):
  task.append(i)
df = pd.DataFrame(task)
df[["imdb_rating"]]=df["imdb"].apply(lambda i:pd.Series([i["rating"]]))
df[["tomatoes_rat"]]=df["tomatoes"].apply(lambda i:pd.Series([i["viewer"]]))
df[["tomatoes_rating"]]=df["tomatoes_rat"].apply(lambda i:pd.Series([i["rating"]]))
df.drop("imdb",axis=1,inplace=True)
df.drop("tomatoes",axis=1,inplace=True)
df.drop("tomatoes_rat",axis=1,inplace=True)
df.to_csv("task.csv")

# **13th Aug**

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
files.upload()

In [ ]:
df = pd.read_csv("Wine_Quality_Data.csv")

In [ ]:
df

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,white
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,white
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,white
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,white
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,white

In [ ]:
df.describe()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
count,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000
mean,7.215307,0.339666,0.318633,5.443235,0.056034,30.525319,115.744574,0.994697,3.218501,0.531268,10.491801,5.818378
std,1.296434,0.164636,0.145318,4.757804,0.035034,17.749400,56.521855,0.002999,0.160787,0.148806,1.192712,0.873255
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000,5.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000,6.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000,6.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000

In [ ]:
22%3

1

In [ ]:
3^4

7

In [ ]:
max("what are you")

'y'

In [ ]:
i = 1
while True:
    if i%3 == 0:
        break
    print(i)

    i += 1

1
2

In [ ]:
x = ['ab', 'cd']
for i in x:
    i.upper()
print(x)

['ab', 'cd']

In [ ]:
tuple1=(5,1,7,6,2)

tuple1.pop(2)

print(tuple1)

AttributeError: ignored

In [ ]:
k = [print(i) for i in "kavi" if i not in "aeiou"]

k
v

In [ ]:
my_string = "hello world"
k = [(i.upper(), len(i)) for i in my_string]
print(k)

[('H', 1), ('E', 1), ('L', 1), ('L', 1), ('O', 1), (' ', 1), ('W', 1), ('O', 1), ('R', 1), ('L', 1), ('D', 1)]

In [ ]:
print([i.lower() for i in "HELLO"])

['h', 'e', 'l', 'l', 'o']

In [ ]:
y = 6

z = lambda x: x * y

z(8)

48

In [ ]:
import pickle
pickle.HIGHEST_PROTOCOL

5